<!DOCTYPE html>
<html{html_attr}>

<head>

<title>J. Kerr</title>
<link rel="stylesheet" href="/css/jeremykerr.css">
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

{head}

</head>

<body>

<nav class="navbar navbar-default navbar-static-top">
	<div class="container">

        <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="nav-link disabled" href="#">JK</a>
          <a class="nav-link" href="/index.html">Home</a>
          <a class="nav-link" href="/pages/blog.html">Blog</a>
          <a class="nav-link" href="/pages/notes.html">Notes</a>
          <a class="nav-link" href="https://github.com/jeremykerr">Github</a>
          <a class="nav-link" href="/pages/interests.html">Interests</a>
          <a class="nav-link" href="/pages/about.html">About</a>
        </nav>

	</div>
</nav>

<div class="container">
    {body}
</div>

<div style="text-align:center;margin:2em;">
	&copy; Jeremy Kerr, 2017
</div>

</body>

</html>
